<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="30 seconds" debug="true">
    <contextName>kipa-service</contextName>

    <!-- 日志输出级别 -->
    <property name="DEFAULT_PATTERN"
              value="%d %-5level [TxId : %X{PtxId} , SpanId : %X{PspanId}] [%X{ctxTraceId}][%X{ctxEventId}] [%thread] %logger{5} - %msg%n"/>
    <property name="CHARSET" value="UTF-8"/>
    <property name="LEVEL" value="debug"/>

    <!-- 控制台日志输出 -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${DEFAULT_PATTERN}</pattern>
            <charset>${CHARSET}</charset>
        </encoder>
    </appender>
    <!-- 默认日志 -->
    <root level="${LEVEL}">
        <appender-ref ref="CONSOLE" />
    </root>
</configuration>